#mainh1{
    position:absolute;
    font-size:5vh;
    top:35vh;
    width:100vw;
    left:0vw;
    text-align:center;
    color:black
}
#mainh12{
    position:absolute;
    font-size:5vh;
    top:25vh;
    width:100vw;
    left:0vw;
    text-align:center;
    color:white;
}

.active{
    color:#449999;
    text-decoration: underline;
}

.nav-link:hover{
    color:#449999;
    text-decoration: underline;
}
#hero{
    background:url("../background.png");
    height:100vh;
    width:100vw;
    background-size:cover;
}
#hero2{
    background:url("../background.png");
    height:50vh;
    width:100vw;
    background-size:cover; 
    background-position-y: center;
}

#donate{
    display:block;
    width:100vw;
    height:25vh;
    text-align:center;
    background-color:#efefef;
    position:absolute;
    top:50vh;
    padding-top:5vh;
}